@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@400;600&display=swap');

.visually-hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

body {
    color: #434131;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    margin: 0;

    width: 100%;
}

.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    overflow-x: hidden;
}

/* @media (max-width: 1200px) {
    .wrapper {
        max-width: 970px;
    }
} */

@media (max-width:992px) {
    .wrapper {
        max-width: 750px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        max-width: 380px;
    }
}


h1 {
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 210px;
    line-height: 167px;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #ECD345;
}

@media (max-width:992px) {
    h1 {
        font-size: 130px;
        line-height: 100px;
    }
}

@media (max-width:570px) {
    h1 {
        font-size: 90px;
        line-height: 68px;
    }
}

@media (max-width: 345px) {
    h1 {
        font-size: 50px;
        line-height: 40px;
    }
}

.btn {
    display: block;
    width: 377px;
    
    background: #8591C4;
    border-radius: 70px;
    
    padding: 30px 0 30px 0;
    text-align: center;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    margin-bottom: 70px;
}

@media (max-width: 992px) {
    .btn {
        width: 250px;
    }
}

/* NAVIGATION */

.main-nav {
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;

    background-color: white;
}

@media (max-width:480px) {
    .main-nav {
        
    }
}

.nav_list {
    display: flex;
    justify-content: center;

    list-style: none;
    padding: 0;
}

.nav_el {
    margin: 0 50px;
}

@media (max-width:992px) {
    .nav_el {
        margin: 0 25px;
    }
}

@media (max-width:480px) {
    .nav-el {
        margin: 0px;
    }
}

.nav_link {
    text-decoration: none;
    color:#434131;

    padding: 0 20px;

    position: relative;
}

@media (max-width: 480px) {
    .nav_link {
        padding: 0;
    }
}

.nav_link:hover::before {
    content: url(img/EFDDC3D9-C7EF-44BE-873E-51B941940BD4\ 1.png);
    position: absolute;
    left: -5px; 
    top: 7px;
}

@media (max-width: 480px) {
    .nav_link:hover::before {
        display: none;
    }
}


/* ABOUT US */

.about-us {
    background-color: #8591C4;
    border-radius: 60px;

    margin-top: 60px;
    margin-bottom: 120px;
    padding-top: 28px;
    position: relative;
}

@media (max-width: 480px) {
    .about-us {
        padding-bottom: 260px;
    }
}

@media (max-width: 321px) {
    .about-us {
        padding-bottom: 200px;
    }
}

.about-us_title {
    margin: 0 0 0 70px;
}

@media (max-width: 480px) {
    .about-us_title {
        margin-left: 40px;

        z-index: 1;
    }
}

.about-us_text {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: white;

    position: relative;
    z-index: 1;

    width: 35%;
    margin: 70px 0 0 70px;
    padding-bottom: 70px;
}

@media (max-width:992px) {
    .about-us_text {
        font-size: 14px;
        line-height: 21px;

        margin: 40px 0 20px 40px;
        padding-bottom: 70px;
    }
}

@media (max-width: 480px) {
    .about-us_text {
        font-size: 12px;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 40px 0 40px;
        margin: 0;

        line-height: 16px;;
    }
}

.about-us_text::before {
    content: '';
    display: block;
    width: 160px;
    height: 60px;

    position: absolute;
    z-index: -1;
    top: -25px;
    left: -45px;

    background-color: #77CBEF;
    box-shadow: 7px 7px 4px rgba(17, 40, 62, 0.25);
}


@media (max-width: 480px) {
    .about-us_text::before {
        width: 108px;
        height: 45px;

        top: -8px;
        left: 30px;
    }
}

.about-us img {
    position: absolute;

    bottom: 0;
    right: 0;

    width: 806px;
    height: 599px;

    border-bottom-right-radius: 60px;

    z-index: 0;
}

@media (max-width: 992px) {
    .about-us img {
        width: 576px;
        height: 428px;
    }
}

@media (max-width: 590px) {
    .about-us img {
        width: 100%;
        height: auto;
    }
}


.btn-contacts {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.075em;
    text-transform: uppercase;

    text-decoration: none;

    color:#FFFFFF;
    background-color: #77CBEF;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -150px;
}

@media (max-width: 992px) {
    .btn-contacts {
        font-size: 24px;
        line-height: 28px;

        bottom: -140px;
    }
}


.btn-contacts:hover {
    background-color: #ECD345;
}

/* SKILLS */

.skills {
    padding-top: 20px;
    margin-bottom: 60px;
}

.skills_wrapper {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .skills_wrapper {
        flex-direction: column;
    }
}

.skills_title {
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 0px;

    width: 40%;
    position: relative;
}

.skills_title::after {
    position: absolute;
    content:url('img/arrow element.png');
    right: -240px;
    bottom: 50px;
}

@media (max-width: 992px) {
    .skills_title::after {
        transform: rotate(-90deg);
        right: 100px;
        bottom: -100px;
    }
}

@media (max-width: 570px) {
    .skills_title::after {
        right: 50px;
        bottom: 50px;
    }

    .skills_title {
        margin-top: 0;
    }
}

@media (max-width:480px) {
    .skills_title::after {
        display: none;
    }

    .skills_wrapper {
        position: relative;
    }

    .skills_wrapper::after {
        content: "";
        position: absolute;
        background-image: url('img/arrow element.png');
        width: 72px;
        height: 225px;
        background-size: cover;
        transform: rotate(360deg);

        bottom: 0px;
        left: 40%;

        z-index: -1;
    }
}


.skills_about {
    margin: 5px 0px 0px 0px;
    width: 20%;
    padding: 60px;
    text-align: center;

    position: relative;

    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

@media (max-width: 992px) {
    .skills_about {
        margin-top: -60px;
        margin-right: 40px;

        padding: 60px 0 0 0;
    }
}

@media (max-width: 480px) {
    .skills_about {
        display: flex;
        justify-content: space-between;

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 100px;

        width: 100%;

        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 321px) {
    .skills_wrapper::after {
        width: 32px;
        height: 115px;

        bottom: 60px;
    }

    .skills_about {
        margin-bottom: 0px;
    }
}


.skills_benefits {
    margin-bottom: 60px;
}

@media (max-width: 480px) {
    .skills_benefits {
        width: 50%;

        padding: 0 25px;
    }
}

.heart::before {
    position: absolute;
    content:url('img/heart.png');
    left: 0;
    top: 50px;
    z-index: -1;
}

@media (max-width: 992px) {
    .heart::before {
        left: -40px;
    }
}

@media (max-width: 480px) {
    .heart::before {
        content: "";
        background-image: url('img/heart.png');
        width: 50px;
        height: 60px;
        background-size: cover;
        left: 0;
    }
}

.star::before {
    position: absolute;
    content:url('img/star.png');
    right: 0;
    top: 170px;
    z-index: -1;
}

@media (max-width: 992px) {
    .star::before {
        right: -30px;
    }
}

@media (max-width: 480px) {
    .star::before {
        content: "";
        background-image: url('img/star.png');
        width: 50px;
        height: 60px;
        background-size: cover;
        top: 40px;
        right: 10px;

    }
}


/* SKILLS TABS */


.tabs-container {
    display: flex;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.075em;

    color: #FFFFFF;
}


@media (max-width: 992px) {
    .tabs-container {
        font-size: 16px;
        line-height: 19px;

        flex-direction: column;
    }
}

.tabs {
    margin-right: 33px;
    margin-top: 60px;
}

@media (max-width: 992px) {
    .tabs {
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 30px;
        margin-right: 0;
        margin-top: 0;
    }
}

.tab {
    background: #8591C4;
}

@media (max-width: 992px) {
    .tab {
        width: 200px;

        margin-bottom: 0px;
    }
}

.tab.active {
    background: #77CBEF;
}

.tab:hover {
    background-color: #B5BFEB;
}

.tab.active:hover {
    background: #77CBEF;
}

.tabcontent {
    background-color: #B5BFEB;
    border-radius: 60px;

    height: 100%;

    padding: 50px 120px;
    box-sizing: border-box;
}

@media (max-width: 992px) {
    .tabcontent {
        padding: 25px 60px;
    }
}

@media (max-width: 480px) {
    .tabcontent {
        padding: 15px 30px;
    }
}

.tabcontent img {
    width: 100%;
    height: auto;
}



/* CONTACTS */

.contacts {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;

    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    margin-bottom: 60px;
    padding-top: 20px;
}

@media (max-width: 992px) {
    .contacts {
        font-size: 14px;
        line-height: 17px;
    }
}


.contacts h1 {
    margin-bottom: 30px;
    margin-top: 30px;
}

@media (max-width: 480px) {
    .contacts h1 {
        margin-top: 0;
    }
}

.contacts_list {
    list-style: none;

    display: flex;
    justify-content: center;

    padding-left: 0;
}

.contacts_el {
    padding: 30px 60px 30px 60px; 
}

.contacts_el a {
    text-decoration: none;
    color:#434131;
    font-size: 14px;

    display: flex;
    flex-direction: column;
}

.contacts_el img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .contacts_el {
        padding: 15px 30px;
    }

    .contacts_el img {
        width: 120px;
        height: 120px;
    }

    .contacts_el a {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .contacts_list {
        padding-left: 0;
    }
    
    .contacts_el {
        padding: 10px 15px;
        font-size: 10px;
        line-height: 12px;
    }

    .contacts_el img {
        width: 60px;
        height: 60px;

        margin-bottom: 10px;
    }

    .contacts_el a {
        font-size: 8px;
    }
}


.contacts_el:hover {
    background-color: #B5BFEB;
    border-radius: 60px;
}

/* CRYPTO */

.crypto_text {
    padding: 0 250px;
}

@media (max-width: 992px) {
    .crypto_text {
        padding: 0 150px;
    }
}

@media (max-width: 480px) {
    .crypto_text {
        padding: 0 0;
    }
}

.contacts_crypto ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;

    position: relative;
}

.contacts_crypto ul::after {
    content: 'Скопировано!';
    position: absolute;
    display: none;

    text-align: center;
    padding: 10px;
    font-size: 12px;

    color: #FFFFFF;
    background-color: #77CBEF;
    border-radius: 60px;

    
    bottom: -55px;
}

.contacts_crypto.active ul::after {
    display: block;
}

.crypto_el {
    margin: 20px;
}

@media (max-width:321px) {
    .crypto_el {
        margin: 20px 10px;
    }
}

.crypto_el span {
    font-size: 14px;
}

@media (max-width: 992px) {
    .crypto_el span {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .crypto_el span {
        font-size: 8px;
    }
}

.inputText {
    position: absolute;
    display: none;
    width: 300px;

    border-radius: 60px;
    border: none;
    background-color: #8591C4;
    color:#FFFFFF;
    padding: 5px;

    bottom: -10px;
    left: 50%;
    margin-left: -150px;
}

.inputText.active {
    display: block;
}

@media (max-width:321px) {
    .inputText {
        width: 200px;
        margin-left: -100px;
    }
}

.crypto-btn {
    display: block;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    margin: 0 auto;

    font-size: 0;

    background-color: transparent;
    border: none;
}

.crypto-btn:hover {
    border: 5px solid #B5BFEB;
    border-radius: 40px;

}

.bitcoin-btn {
    background-image: url(img/crypto/Bitcoin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
}

.dogecoin-btn {
    background-image: url(img/crypto/Dogecoin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
}

.ethereum-btn {
    background-image: url(img/crypto/Ethereum.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
}



/* FOOTER */

footer {
    background-color: #434131;
    padding-bottom: 60px;
}

footer p {
    font-size: 0;
}
